@model CarsModelsCreateVM

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create form</h4>
            <p class="card-description"> Basic form layout </p>
            <form asp-area="Admin" asp-controller="Service" asp-action="Create" method="post" enctype="multipart/form-data" class="forms-sample">
                <div class="form-group">
                    <label >Name: </label>
                    <input asp-for="Name"  placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Model: </label>
                    <input asp-for="Model" placeholder="Model">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Description: </label>
                    <input asp-for="Description" placeholder="Model">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">hP: </label>
                    <input asp-for="HP" placeholder="Model">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Mi: </label>
                    <input asp-for="Mi" placeholder="Model">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Price: </label>
                    <input asp-for="Price" placeholder="Price">
                </div>
                <div class="form-group">
                    <label for="exampleInputConfirmPassword1">Image: </label>
                    <input asp-for="Image" placeholder="img">
                </div>
                <div class="form-check form-check-flat form-check-primary">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input"> Remember me <i class="input-helper"></i>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-dark">Cancel</button>
            </form>
        </div>
    </div>
</div>
